<div id="worker-next-tasks" hx-swap-oob="outerHTML">
  <div class="table-wrapper">
    <table class="table-def">
      <thead>
        <tr>
          <th>Jobsie</th>
          <th>Name</th>
          <th>Next execution</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
        <tr>
          <td>{{ task.id }}</td>
          <td>{{ task.name }}</td>
          <td>{{ task.scheduled_at }}</td>
          <td>
            <span class="badge {{ 'badge-success' if task.status == 'Acknowledged' else 'badge-neutral' }}">
              {{ task.status }}
            </span>
          </td>
        </tr>
        {% else %}
        <tr>
          <td colspan="4" class="text-center">No tasks scheduled in the next 24 hours.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
