<div id="worker-app-status" hx-swap-oob="outerHTML">
  <div class="worker-app-status-tables">
    <div class="table-wrapper">
      <table class="table-def">
        <tbody>
          <tr>
            <td>Redis version:</td>
            <td>{{ redis.version }}</td>
          </tr>
          <tr>
            <td>Redis status:</td>
            <td>
              <span class="badge {{ 'badge-success' if redis.alive else 'badge-danger' }}">
                {{ 'Healthy' if redis.alive else 'Unavailable' }}
              </span>
            </td>
          </tr>
          <tr>
            <td>Redis uptime:</td>
            <td>{{ redis.uptime }}</td>
          </tr>
          <tr>
            <td>Memory usage:</td>
            <td>{{ redis.memory_usage }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table-wrapper">
      <table class="table-def">
        <tbody>
          <tr>
            <td>Worker:</td>
            <td>
              <span class="badge {{ 'badge-success' if celery.alive else 'badge-danger' }}">
                {{ 'Healthy' if celery.alive else 'Unavailable' }}
              </span>
            </td>
          </tr>
          <tr>
            <td>Worker uptime:</td>
            <td>{{ celery.uptime }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
