:root {
  /* Shadows */
  --shadow-subtle: rgba(0, 0, 0, 0.1);
  --shadow-light: rgba(0, 0, 0, 0.06);
  --overlay-backdrop: rgba(0, 0, 0, 0.5);
  --shadow-lightest: rgba(0, 0, 0, 0.04);

  /* Text */
  --text-main: #111827;
  --text-subtle: #6b7280;
  --text-title: #586F6B;
  --text-title-shadow: #444f4a;

  /* Content Block */
  --content-main-bg: #EEEEEB;
  --content-second-bg: #f9fafb;
  --content-widget-bg: #ffffff;
  --content-hover-bg: #f3f4f6;
  --content-border-subtle: #d1d5db;
  --content-action-text: #2563eb;
  --content-action-hover: #1d4ed8;

  /* Sidebar Block */
  --sidebar-bg: #B8B8AA;
  --sidebar-icon-bg-active: #586F6B;
  --sidebar-icon-bg-hover: #7F9183;
  --sidebar-icon-color-active: #ffffff;

  /* Table */
  --row: var(--content-widget-bg);
  --row-hover: var(--content-main-bg);

  /* Negative and positive interactions */
  --negative-main: #991b1b;
  --negative-dim: #fee2e2;
  --positive-main: #065f46;
  --positive-dim: #d1fae5;
}


:root {
  /* Shadows */
  --shadow-subtle: rgba(0, 0, 0, 0.1);
  --shadow-light: rgba(0, 0, 0, 0.06);
  --overlay-backdrop: rgba(0, 0, 0, 0.5);
  --shadow-lightest: rgba(0, 0, 0, 0.04);

  /* Text */
  --text-main: #EBD1B7;
  --text-subtle: #b9a993;
  --text-title: #F8BB39;
  --text-title-shadow: #26221E;

  /* Content Block */
  --content-main-bg: #45403B;
  --content-second-bg: #26221E;
  --content-widget-bg: #36312C;
  --content-hover-bg: #3b3a32;
  --content-border-subtle: #7A7267;
  --content-action-text: var(--text-main);
  --content-action-hover: var(--text-title);

  /* Sidebar Block */
  --sidebar-bg: #2F2B26;
  --sidebar-icon-bg-active: #60A365;
  --sidebar-icon-bg-hover: #95CC5E;
  --sidebar-icon-color-active: #26221E;

  /* Table */
  --row: var(--content-widget-bg);
  --row-hover: var(--content-main-bg);

  /* Negative and positive interactions */
  --negative-main: #ec6543;
  --negative-dim: #381e13;
  --positive-main: #95CC5E;
  --positive-dim: #23281e;

}
